In [1]:
import pandas as pd
import numpy as np

In [43]:
import findspark
findspark.init()

from pyspark import SparkContext
from pyspark.sql import SparkSession

In [31]:
spark = SparkSession.builder.master("local").appName("dim_red").getOrCreate()

In [2]:
#loading data, combining all terms and counts
daily_terms = []
for mon in range(3,11):
    start = 1
    end = 32
    if mon == 3:
        start = 22
    elif mon == 4 or mon == 6 or mon == 9:
        end = 31
    elif mon == 10:
        end = 13
        
    if mon < 10:
        mon = '0'+str(mon)
    else:
        mon = str(mon)
        
        
        
        
    for day in range(start,end):
        if day < 10:
            day = '0'+str(day)
        else:
            day = str(day)
        date = '2020-'+mon+'-'+day
        df1 = pd.read_csv('./archive/dailies/'+date+'/'+date+'_top1000terms.csv', header = None)
        df1.columns = ["gram", "counts"]
        df1=df1.iloc[0:500]
        df2 = pd.read_csv('./archive/dailies/'+date+'/'+date+'_top1000bigrams.csv')
        df2=df2.iloc[0:500]
        df3 = pd.read_csv('./archive/dailies/'+date+'/'+date+'_top1000trigrams.csv')
        df3=df3.iloc[0:500]
        
        df = pd.concat([df1, df2], axis = 0)
        df = pd.concat([df,df3], axis=0)
        
        daily_terms.append(df)

In [3]:
#retrieve all terms
terms = daily_terms[0][['gram']]

for i in range(1,len(daily_terms)):
    day_t = daily_terms[i][['gram']]
    terms = pd.concat([terms,day_t], axis=0)
    terms = terms.drop_duplicates().dropna()
terms = terms.drop_duplicates().dropna()
print(len(terms))
terms.head()

66321

          gram
0  coronavirus
2        covid
3           19
4      covid19
5       people

In [4]:
terms = list(terms['gram'])

In [5]:
print(terms[0])

coronavirus

In [6]:
#create a dataframe
twitter_counts = pd.DataFrame(columns = terms)

In [7]:
twitter_counts.head()

Empty DataFrame
Columns: [coronavirus, covid, 19, covid19, people, trump, via, us, virus, amp, cases, get, new, like, covidー19, coronaviruspandemic, one, si, please, home, help, italy, time, china, stay, news, pandemic, need, realdonaldtrump, positive, na, di, corona, world, know, crisis, stop, il, test, go, good, the, times, support, health, da, et, would, going, spread, first, government, lockdown, take, see, est, trying, day, could, still, president, let, think, even, casos, fight, des, share, social, die, right, friends, 2020, well, today, really, to, many, du, got, italian, make, re, due, may, says, 000, live, stand, quarantine, outbreak, tests, testing, country, work, tested, india, everyone, state, pour, ...]
Index: []

[0 rows x 66321 columns]

In [8]:
daily_terms[0].head()

          gram  counts
0  coronavirus  223843
1          NaN   86350
2        covid   67037
3           19   64625
4      covid19   56389

In [9]:
count_r = 0
for data in daily_terms:
   
    row = []
    for n in range (0,66321):
        row.append(0)

        
    twitter_counts.loc[len(twitter_counts.index)] = row
    
    #remove all nan terms    
    data = data.dropna()
     
    #populate each row with counts for each term
    for ind, r in data.iterrows():
        
        t = r['gram']
        
        if isinstance(r['counts'], int):
  
            count = r['counts']
            count = int(count)
        else:
            count = -1
        
        twitter_counts.at[count_r, t] = count
    
        
    count_r = count_r+1

In [10]:
#first 50 counts for terms
twitter_counts.head(50)

,coronavirus,covid,19,covid19,people,trump,via,us,virus,amp,...,china qingdao,made things,enfermedad inexplicable,rid covid,city qingdao,dies cardiac,peut survivre,four days,couvre feu,confirm nevada
0,223843,67037,64625,56389,28026,17061,16803,15701,15674,15424,...,0,0,0,0,0,0,0,0,0,0
1,245729,84031,81299,71684,29656,19862,19493,16947,15364,17404,...,0,0,0,0,0,0,0,0,0,0
2,254575,91123,87927,84368,29052,23074,21522,18568,15762,18852,...,0,0,0,0,0,0,0,0,0,0
3,253734,90652,88225,77901,27129,19520,21184,18257,14899,17315,...,0,0,0,0,0,0,0,0,0,0
4,340182,128786,124076,137568,42561,28143,33227,33261,26839,35637,...,0,0,0,0,0,0,0,0,0,0
5,347777,134682,129550,156102,42639,33096,33237,35352,29104,37370,...,0,0,0,0,0,0,0,0,0,0
6,297595,116419,116645,143953,38209,28278,29947,25339,23853,31501,...,0,0,0,0,0,0,0,0,0,0
7,301030,116988,113711,127605,41469,32519,29836,27273,23985,31752,...,0,0,0,0,0,0,0,0,0,0
8,327329,139430,133474,153681,41166,31397,33369,27433,24109,36560,...,0,0,0,0,0,0,0,0,0,0
9,309257,146153,137606,171687,40739,34108,32515,29372,25056,38653,...,0,0,0,0,0,0,0,0,0,0
10,329716,145358,138151,152555,41802,35107,34940,31192,24210,39295,...,0,0,0,0,0,0,0,0,0,0
11,319227,146368,139986,148204,43442,31067,34812,30769,23899,38383,...,0,0,0,0,0,0,0,0,0,0
12,325964,148479,143140,165227,42055,32004,36183,30319,24467,40308,...,0,0,0,0,0,0,0,0,0,0
13,320148,146388,140901,151541,44957,35576,35740,29642,25643,37191,...,0,0,0,0,0,0,0,0,0,0
14,335131,147042,137684,144875,47112,35904,34284,30193,26900,37115,...,0,0,0,0,0,0,0,0,0,0
15,336939,164911,157484,179884,41269,36567,37971,28973,25240,41618,...,0,0,0,0,0,0,0,0,0,0
16,333135,168594,161228,200142,41306,39485,37467,31316,24427,42755,...,0,0,0,0,0,0,0,0,0,0
17,345955,176088,165868,192994,43730,37390,39258,31983,24890,43969,...,0,0,0,0,0,0,0,0,0,0
18,321240,186855,177003,156135,41383,30414,37883,29711,23901,41146,...,0,0,0,0,0,0,0,0,0,0
19,340655,172071,165238,157764,44535,32491,38412,30939,26641,41933,...,0,0,0,0,0,0,0,0,0,0
20,310632,153534,149204,140027,41483,29288,33966,31087,26414,36564,...,0,0,0,0,0,0,0,0,0,0
21,340647,167386,161321,185222,41674,36762,35812,33395,28836,40076,...,0,0,0,0,0,0,0,0,0,0
22,365236,202958,195946,205641,47209,46980,40650,33635,28355,45044,...,0,0,0,0,0,0,0,0,0,0
23,361836,200246,192650,215634,47457,50145,41117,34787,27271,46341,...,0,0,0,0,0,0,0,0,0,0
24,332479,194092,185967,205899,43820,50938,38591,35673,25726,44319,...,0,0,0,0,0,0,0,0,0,0
25,350765,212290,203071,218306,47237,43784,41637,35738,29686,48244,...,0,0,0,0,0,0,0,0,0,0
26,325440,188075,180605,180968,43907,36117,37179,31529,27456,43174,...,0,0,0,0,0,0,0,0,0,0
27,304686,174264,162115,149967,44859,37046,35289,30128,27157,39549,...,0,0,0,0,0,0,0,0,0,0
28,326582,186944,183543,187679,47166,44234,34921,31504,29592,42489,...,0,0,0,0,0,0,0,0,0,0
29,338424,202177,193726,200568,50075,40585,37966,34208,26078,45364,...,0,0,0,0,0,0,0,0,0,0
30,357463,224951,215341,205619,44872,41728,40371,35995,27190,46200,...,0,0,0,0,0,0,0,0,0,0
31,352661,255660,244463,218508,47358,39342,40744,38586,29608,49595,...,0,0,0,0,0,0,0,0,0,0
32,348535,212241,201983,219698,47254,43329,42561,37494,28094,48853,...,0,0,0,0,0,0,0,0,0,0
33,328761,193133,184007,180292,47325,75936,38458,33600,24987,44742,...,0,0,0,0,0,0,0,0,0,0
34,321032,186974,176959,169710,47988,49049,37496,29866,24709,42142,...,0,0,0,0,0,0,0,0,0,0
35,344753,202960,191668,175131,48651,37471,40004,30810,26025,43988,...,0,0,0,0,0,0,0,0,0,0
36,349448,219733,207986,225215,45978,35189,42850,34772,25345,49167,...,0,0,0,0,0,0,0,0,0,0
37,341032,225712,214042,243531,44706,37853,40394,38260,25452,50880,...,0,0,0,0,0,0,0,0,0,0
38,351760,237720,225070,248841,48577,39858,43389,40156,26273,52713,...,0,0,0,0,0,0,0,0,0,0
39,337943,232681,221577,231650,46180,39755,41297,36925,27479,51635,...,0,0,0,0,0,0,0,0,0,0
40,248820,169041,160025,150314,34645,27331,29316,26585,19146,37938,...,0,0,0,0,0,0,0,0,0,0
41,315514,193697,181829,158134,42818,28544,35209,32784,23921,40570,...,0,0,0,0,0,0,0,0,0,0
42,328383,203800,193076,167520,46485,35641,35970,35339,28311,44220,...,0,0,0,0,0,0,0,0,0,0
43,348112,227738,218040,207761,45979,41564,41613,39139,27854,49428,...,0,0,0,0,0,0,0,0,0,0
44,332968,226726,215089,215818,46973,40860,40542,40785,27537,51757,...,0,0,0,0,0,0,0,0,0,0
45,344722,238683,225892,238813,49650,40470,45055,38382,27046,52988,...,0,0,0,0,0,0,0,0,0,0
46,356946,243692,230010,241105,54861,40921,41934,37275,27459,54157,...,0,0,0,0,0,0,0,0,0,0
47,329193,252701,237600,221482,46475,37893,39420,34038,28734,50585,...,0,0,0,0,0,0,0,0,0,0
48,311265,236785,221695,174322,46368,39072,36178,32900,28497,42911,...,0,0,0,0,0,0,0,0,0,0
49,304779,189520,177798,200975,48088,35514,31892,32083,29576,43379,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#ensure there is no nan vallues
twitter_counts = twitter_counts.fillna(0)

In [12]:
twitter_counts.isnull().values.any()

False

In [21]:
twitter_counts.to_csv('twitter_grams_cut.csv',index=False)

In [ ]:
#since there are too many terms to use as features, I will reduce further, based on average counts
#I will eliminate all terms with average counts < 100 to focus on most popular terms

In [27]:
tc_T = twitter_counts.T

In [28]:
tc_T.head()

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
coronavirus,223843,245729,254575,253734,340182,347777,297595,301030,327329,309257,...,136538,128024,152965,161959,159071,131745,129660,107782,112491,131308
covid,67037,84031,91123,90652,128786,134682,116419,116988,139430,146153,...,183192,170023,223703,238661,202421,176613,171228,133576,125547,171556
19,64625,81299,87927,88225,124076,129550,116645,113711,133474,137606,...,159520,148131,192462,209004,179382,157906,152629,117935,110501,152225
covid19,56389,71684,84368,77901,137568,156102,143953,127605,153681,171687,...,129828,121797,175416,144785,132536,120313,119745,88995,83437,138860
people,28026,29656,29052,27129,42561,42639,38209,41469,41166,40739,...,35594,32430,42042,45219,35731,29229,28010,24509,21972,28401

In [32]:
spark_tc = spark.createDataFrame(tc_T) #since there are a lot of terms, I will use pyspark

In [46]:
spark_tc.show(5)

+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|     0|     1|     2|     3|     4|     5|     6|     7|     8|     9|    10|    11|    12|    13|    14|    15|    16|    17|    18|    19|    20|    21|    22|    23|    24|    25|    26|    27|    28|    29|    30|    31|    32|    33|    34|    35|    36|    37|    38|    39|    40|    41|    42|    43|    44|    45|    46|    47|    48|    49|    50|    51|    52|    53|    54|    55|    56|    57|    58|    59|    60|    61|    62|    63|    64|    65|    66|    67|    68|    69|    70|    71|    72|    73|    74|    75|    76|    77|    78|    79|    80|    81|    82|    83|    84|    85|    86|    87|    88|    89|    90|    91|    92|    93|    94|    95|    96|    97|    98|    99|   100|   101|   102|   103|   104|   105|   106|   107|   108|   109|   110|   111|   112|   113|   114|   115|   116|   117|   118|   119|   120|   121|   122|   123|   124|   125|   126|   127|   128|   129|   130|   131|   132|   133|   134|   135|   136|   137|   138|   139|   140|   141|   142|   143|   144|   145|   146|   147|   148|   149|   150|   151|   152|   153|   154|   155|   156|   157|   158|   159|   160|   161|   162|   163|   164|   165|   166|   167|   168|   169|   170|   171|   172|   173|   174|   175|   176|   177|   178|   179|   180|   181|   182|   183|   184|   185|   186|   187|   188|   189|   190|   191|   192|   193|   194|   195|   196|   197|   198|   199|   200|   201|   202|   203|   204|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|223843|245729|254575|253734|340182|347777|297595|301030|327329|309257|329716|319227|325964|320148|335131|336939|333135|345955|321240|340655|310632|340647|365236|361836|332479|350765|325440|304686|326582|338424|357463|352661|348535|328761|321032|344753|349448|341032|351760|337943|248820|315514|328383|348112|332968|344722|356946|329193|311265|304779|316132|288947|298171|324292|331612|313731|278230|279849|252610|235019|317429|301676|271273|261296|290347|304259|292435|260478|257100|237814|234654|257828|255051|244697|236812|231660|194137|197746|235581|230401|228234|243917|219868|186410|181263|223328|238725|236027|217131|227608|195821|177242|220474|249043|213162|223243|213828|196730|179698|216784|197864|224588|212732|217863|189310|202376|208812|226598|212985|217651|221399|163344|197323|210317|214148|199219|215003|208217|174944|183233|216048|213265|208170|207512|190856|160563|157382|196127|194956|207070|198608|198446|163669|168068|195517|180077|171713|178325|170726|142214|138782|165109|192091|171012|174573|164535|118427|126853|160189|150734|150580|131090|136490|117362|120275|148584|145758|137357|143808|132315|110310|113527|131696|118977|143768|138050|129969|100959|102780|130282|147762|152440|157887|130447|105571|111631|139800|128569|140511|150734|139432| 92144| 90292|132959|149588|128486|132222| 97155| 93899| 85007|121388|128472|112299|124210|200634|136538|128024|152965|161959|159071|131745|129660|107782|112491|131308|
| 67037| 84031| 91123| 90652|128786|134682|116419|116988|139430|146153|145358|146368|148479|146388|147042|164911|168594|176088|186855|172071|153534|167386|202958|200246|194092|212290|188075|174264|186944|202177|224951|255660|212241|193133|186974|202960|219733|225712|237720|232681|169041|193697|203800|227738|226726|238683|243692|252701|236785|189520|226871|243658|226747|251465|251029|216289|194643|206824|201255|199509|246092|241074|194693|188803|216674|246165|253685|226260|225451|185472|175614|201258|219113|224508|218070|209458|171276|162570|213864|216173|212951|230501|208480|160232|150398|210797|224025|224189|215140|213987|178016|152390|209028|221034|204587|221829|211967|183500|166035|215507|203613|218067|212170|206981|164436|181446|214526|238524|220280|223908|219880|155299|178734|218255|227139|211307|227539|217091|163477|165303|219258|220434|225435|219940|204673|153325|148892|224870|221031|230944|217312|199163|158019|157786|208101|205017|198217|201944|198238|143789|147797|181248|216841|196333|198617|183784|127731|131656|181892|180948|181402|156585|162850|126809|138122|178244|183891|168651|189647|172023|128514|143277|183076|154133|198922|191810|169296|118061|115934|152622|181750|174925|188898|157651|125195|122410|169316|159071|175496|191202|167373|117301|108028|165603|185099|173461|180670|136428|122106|100006|149802|162994|147549|166386|245559|183192|170023|223703|238661|202421|176613|171228|133576|125547|171556|
| 64625| 81299| 87927| 88225|124076|129550|116645|113711|133474|137606|138151|139986|143140|140901|137684|157484|161228|165868|177003|165238|149204|161321|195946|192650|185967|203071|180605|162115|183543|193726|215341|244463|201983|184007|176959|191668|207986|214042|225070|221577|160025|181829|193076|218040|215089|225892|230010|237600|221695|177798|214025|231589|214502|235946|235463|203197|183314|196381|198124|193825|233720|229764|184729|176203|204385|233083|240133|213401|213041|175263|165413|191270|208844|213502|205036|198248|160974|152674|201153|204190|203239|217747|195240|149118|141077|199463|210100|210021|203584|211505|171033|145184|195486|206215|192321|206427|195015|169706|153927|200065|188241|203746|196797|192116|150395|166085|192883|216900|202815|206821|203045|141182|162408|201419|207804|193624|207379|198150|149659|157923|204475|203542|208357|203090|189455|141289|137167|204648|202254|212540|199278|182031|144470|144052|192309|188929|183369|187488|184978|132440|135499|166129|199125|180000|182850|169870|117288|120792|167884|167193|175596|145739|149727|115645|125257|163759|167855|154323|174411|157699|116498|127292|164835|138915|180611|174624|156437|107666|105566|139003|165265|158035|172095|144180|113519|108645|154536|145040|157920|173281|152831|110657| 98022|149250|167343|157149|163389|124760|111191| 91194|136989|149158|136011|151839|214039|159520|148131|192462|209004|179382|157906|152629|117935|110501|152225|
| 56389| 71684| 84368| 77901|137568|156102|143953|127605|153681|171687|152555|148204|165227|151541|144875|179884|200142|192994|156135|157764|140027|185222|205641|215634|205899|218306|180968|149967|187679|200568|205619|218508|219698|180292|169710|175131|225215|243531|248841|231650|150314|158134|167520|207761|215818|238813|241105|221482|174322|200975|227398|190167|190376|221434|218946|189034|173540|210551|138959|112187|173395|170628|157412|163204|170723|180498|199356|193765|179791|160344|156450|170188|187702|184428|166229|165988|142579|144295|185252|155199|170405|188044|183902|134635|126592|175800|167780|177848|175929|171299|135998|123476|162668|169169|146620|180668|165792|159485|127629|166199|155813|152482|153657|142410|119676|136825|140162|157613|172845|150000|147067|115794|119259|150628|176123|160329|172332|159373|118591|113135|153180|173755|159477|141240|139822|106691| 94212|158638|176502|163781|151323|143529|108266|108087|139100|158714|140115|139189|140975|102432|112802|140184|155341|139835|134642|116684| 95433|112990|145812|142686|123356|105711|120210|103341| 94006|135582|140591|110412|128407|137040|130104|101696|143751|101754|126430|111335|104374| 81215| 81385|106259|136903|132162|120181|117825| 87169| 88796|123273|101621|122202|128634|115458| 70151| 86437|108414|125675|138380|135086| 91136| 77298| 70817|119575|135553|114717|125381|180743|129828|121797|175416|144785|132536|120313|119745| 88995| 83437|138860|
| 28026| 29656| 29052| 27129| 42561| 42639| 38209| 41469| 41166| 40739| 41802| 43442| 42055| 44957| 47112| 41269| 41306| 43730| 41383| 44535| 41483| 41674| 47209| 47457| 43820| 47237| 43907| 44859| 47166| 50075| 44872| 47358| 47254| 47325| 47988| 48651| 45978| 44706| 48577| 46180| 34645| 42818| 46485| 45979| 46973| 49650| 54861| 46475| 46368| 48088| 47963| 40971| 46232| 48117| 46949| 43734| 42701| 39915| 29435| 29631| 44469| 42242| 43537| 46126| 43677| 42593| 43147| 42383| 41517| 38883| 41574| 37040| 40448| 40662| 35568| 38359| 33375| 31884| 33097| 32617| 33596| 37551| 36162| 28055| 27702| 36666| 38749| 38822| 38271| 38926| 37217| 36833| 38509| 42109| 39002| 49075| 49756| 40687| 38057| 42147| 37494| 41658| 45281| 44002| 37396| 40636| 38420| 40206| 41900| 38305| 37992| 29229| 35938| 40879| 41947| 38576| 41485| 39465| 31819| 32561| 35582| 36334| 36233| 34473| 32066| 28948| 26466| 38342| 37950| 39411| 39462| 36174| 29619| 30296| 33002| 33839| 29565| 30338| 28603| 25319| 25915| 28277| 28235| 27503| 29953| 25847| 18990| 19993| 25233| 29773| 24950| 20577| 23058| 19693| 24118| 23861| 24472| 25068| 25821| 24282| 20641| 23161| 26257| 21533| 26642| 25836| 20622| 16743| 17057| 22755| 32637| 41905| 39647| 30608| 22040| 22677| 28033| 23165| 27653| 32642| 29229| 17600| 20095| 27404| 36102| 28769| 27107| 19054| 19338| 16081| 23801| 26757| 20846| 23701| 41348| 35594| 32430| 42042| 45219| 35731| 29229| 28010| 24509| 21972| 28401|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 5 rows

In [49]:
from operator import add
from functools import reduce

import pyspark.sql.functions as F

In [53]:



numeric_col_list = spark_tc.columns

print(numeric_col_list)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204']

In [55]:
#sums all the values in each row 
#(you may ignore the error, it occured due to running this command twice)
tot = spark_tc.withColumn('total',F.sum([F.col(x) for x in numeric_col_list])

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_26948/845105252.py, line 1)

In [56]:
tot.show(5)

+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+
|     0|     1|     2|     3|     4|     5|     6|     7|     8|     9|    10|    11|    12|    13|    14|    15|    16|    17|    18|    19|    20|    21|    22|    23|    24|    25|    26|    27|    28|    29|    30|    31|    32|    33|    34|    35|    36|    37|    38|    39|    40|    41|    42|    43|    44|    45|    46|    47|    48|    49|    50|    51|    52|    53|    54|    55|    56|    57|    58|    59|    60|    61|    62|    63|    64|    65|    66|    67|    68|    69|    70|    71|    72|    73|    74|    75|    76|    77|    78|    79|    80|    81|    82|    83|    84|    85|    86|    87|    88|    89|    90|    91|    92|    93|    94|    95|    96|    97|    98|    99|   100|   101|   102|   103|   104|   105|   106|   107|   108|   109|   110|   111|   112|   113|   114|   115|   116|   117|   118|   119|   120|   121|   122|   123|   124|   125|   126|   127|   128|   129|   130|   131|   132|   133|   134|   135|   136|   137|   138|   139|   140|   141|   142|   143|   144|   145|   146|   147|   148|   149|   150|   151|   152|   153|   154|   155|   156|   157|   158|   159|   160|   161|   162|   163|   164|   165|   166|   167|   168|   169|   170|   171|   172|   173|   174|   175|   176|   177|   178|   179|   180|   181|   182|   183|   184|   185|   186|   187|   188|   189|   190|   191|   192|   193|   194|   195|   196|   197|   198|   199|   200|   201|   202|   203|   204|   total|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+
|223843|245729|254575|253734|340182|347777|297595|301030|327329|309257|329716|319227|325964|320148|335131|336939|333135|345955|321240|340655|310632|340647|365236|361836|332479|350765|325440|304686|326582|338424|357463|352661|348535|328761|321032|344753|349448|341032|351760|337943|248820|315514|328383|348112|332968|344722|356946|329193|311265|304779|316132|288947|298171|324292|331612|313731|278230|279849|252610|235019|317429|301676|271273|261296|290347|304259|292435|260478|257100|237814|234654|257828|255051|244697|236812|231660|194137|197746|235581|230401|228234|243917|219868|186410|181263|223328|238725|236027|217131|227608|195821|177242|220474|249043|213162|223243|213828|196730|179698|216784|197864|224588|212732|217863|189310|202376|208812|226598|212985|217651|221399|163344|197323|210317|214148|199219|215003|208217|174944|183233|216048|213265|208170|207512|190856|160563|157382|196127|194956|207070|198608|198446|163669|168068|195517|180077|171713|178325|170726|142214|138782|165109|192091|171012|174573|164535|118427|126853|160189|150734|150580|131090|136490|117362|120275|148584|145758|137357|143808|132315|110310|113527|131696|118977|143768|138050|129969|100959|102780|130282|147762|152440|157887|130447|105571|111631|139800|128569|140511|150734|139432| 92144| 90292|132959|149588|128486|132222| 97155| 93899| 85007|121388|128472|112299|124210|200634|136538|128024|152965|161959|159071|131745|129660|107782|112491|131308|45048343|
| 67037| 84031| 91123| 90652|128786|134682|116419|116988|139430|146153|145358|146368|148479|146388|147042|164911|168594|176088|186855|172071|153534|167386|202958|200246|194092|212290|188075|174264|186944|202177|224951|255660|212241|193133|186974|202960|219733|225712|237720|232681|169041|193697|203800|227738|226726|238683|243692|252701|236785|189520|226871|243658|226747|251465|251029|216289|194643|206824|201255|199509|246092|241074|194693|188803|216674|246165|253685|226260|225451|185472|175614|201258|219113|224508|218070|209458|171276|162570|213864|216173|212951|230501|208480|160232|150398|210797|224025|224189|215140|213987|178016|152390|209028|221034|204587|221829|211967|183500|166035|215507|203613|218067|212170|206981|164436|181446|214526|238524|220280|223908|219880|155299|178734|218255|227139|211307|227539|217091|163477|165303|219258|220434|225435|219940|204673|153325|148892|224870|221031|230944|217312|199163|158019|157786|208101|205017|198217|201944|198238|143789|147797|181248|216841|196333|198617|183784|127731|131656|181892|180948|181402|156585|162850|126809|138122|178244|183891|168651|189647|172023|128514|143277|183076|154133|198922|191810|169296|118061|115934|152622|181750|174925|188898|157651|125195|122410|169316|159071|175496|191202|167373|117301|108028|165603|185099|173461|180670|136428|122106|100006|149802|162994|147549|166386|245559|183192|170023|223703|238661|202421|176613|171228|133576|125547|171556|38198603|
| 64625| 81299| 87927| 88225|124076|129550|116645|113711|133474|137606|138151|139986|143140|140901|137684|157484|161228|165868|177003|165238|149204|161321|195946|192650|185967|203071|180605|162115|183543|193726|215341|244463|201983|184007|176959|191668|207986|214042|225070|221577|160025|181829|193076|218040|215089|225892|230010|237600|221695|177798|214025|231589|214502|235946|235463|203197|183314|196381|198124|193825|233720|229764|184729|176203|204385|233083|240133|213401|213041|175263|165413|191270|208844|213502|205036|198248|160974|152674|201153|204190|203239|217747|195240|149118|141077|199463|210100|210021|203584|211505|171033|145184|195486|206215|192321|206427|195015|169706|153927|200065|188241|203746|196797|192116|150395|166085|192883|216900|202815|206821|203045|141182|162408|201419|207804|193624|207379|198150|149659|157923|204475|203542|208357|203090|189455|141289|137167|204648|202254|212540|199278|182031|144470|144052|192309|188929|183369|187488|184978|132440|135499|166129|199125|180000|182850|169870|117288|120792|167884|167193|175596|145739|149727|115645|125257|163759|167855|154323|174411|157699|116498|127292|164835|138915|180611|174624|156437|107666|105566|139003|165265|158035|172095|144180|113519|108645|154536|145040|157920|173281|152831|110657| 98022|149250|167343|157149|163389|124760|111191| 91194|136989|149158|136011|151839|214039|159520|148131|192462|209004|179382|157906|152629|117935|110501|152225|35563658|
| 56389| 71684| 84368| 77901|137568|156102|143953|127605|153681|171687|152555|148204|165227|151541|144875|179884|200142|192994|156135|157764|140027|185222|205641|215634|205899|218306|180968|149967|187679|200568|205619|218508|219698|180292|169710|175131|225215|243531|248841|231650|150314|158134|167520|207761|215818|238813|241105|221482|174322|200975|227398|190167|190376|221434|218946|189034|173540|210551|138959|112187|173395|170628|157412|163204|170723|180498|199356|193765|179791|160344|156450|170188|187702|184428|166229|165988|142579|144295|185252|155199|170405|188044|183902|134635|126592|175800|167780|177848|175929|171299|135998|123476|162668|169169|146620|180668|165792|159485|127629|166199|155813|152482|153657|142410|119676|136825|140162|157613|172845|150000|147067|115794|119259|150628|176123|160329|172332|159373|118591|113135|153180|173755|159477|141240|139822|106691| 94212|158638|176502|163781|151323|143529|108266|108087|139100|158714|140115|139189|140975|102432|112802|140184|155341|139835|134642|116684| 95433|112990|145812|142686|123356|105711|120210|103341| 94006|135582|140591|110412|128407|137040|130104|101696|143751|101754|126430|111335|104374| 81215| 81385|106259|136903|132162|120181|117825| 87169| 88796|123273|101621|122202|128634|115458| 70151| 86437|108414|125675|138380|135086| 91136| 77298| 70817|119575|135553|114717|125381|180743|129828|121797|175416|144785|132536|120313|119745| 88995| 83437|138860|30710374|
| 28026| 29656| 29052| 27129| 42561| 42639| 38209| 41469| 41166| 40739| 41802| 43442| 42055| 44957| 47112| 41269| 41306| 43730| 41383| 44535| 41483| 41674| 47209| 47457| 43820| 47237| 43907| 44859| 47166| 50075| 44872| 47358| 47254| 47325| 47988| 48651| 45978| 44706| 48577| 46180| 34645| 42818| 46485| 45979| 46973| 49650| 54861| 46475| 46368| 48088| 47963| 40971| 46232| 48117| 46949| 43734| 42701| 39915| 29435| 29631| 44469| 42242| 43537| 46126| 43677| 42593| 43147| 42383| 41517| 38883| 41574| 37040| 40448| 40662| 35568| 38359| 33375| 31884| 33097| 32617| 33596| 37551| 36162| 28055| 27702| 36666| 38749| 38822| 38271| 38926| 37217| 36833| 38509| 42109| 39002| 49075| 49756| 40687| 38057| 42147| 37494| 41658| 45281| 44002| 37396| 40636| 38420| 40206| 41900| 38305| 37992| 29229| 35938| 40879| 41947| 38576| 41485| 39465| 31819| 32561| 35582| 36334| 36233| 34473| 32066| 28948| 26466| 38342| 37950| 39411| 39462| 36174| 29619| 30296| 33002| 33839| 29565| 30338| 28603| 25319| 25915| 28277| 28235| 27503| 29953| 25847| 18990| 19993| 25233| 29773| 24950| 20577| 23058| 19693| 24118| 23861| 24472| 25068| 25821| 24282| 20641| 23161| 26257| 21533| 26642| 25836| 20622| 16743| 17057| 22755| 32637| 41905| 39647| 30608| 22040| 22677| 28033| 23165| 27653| 32642| 29229| 17600| 20095| 27404| 36102| 28769| 27107| 19054| 19338| 16081| 23801| 26757| 20846| 23701| 41348| 35594| 32430| 42042| 45219| 35731| 29229| 28010| 24509| 21972| 28401| 7310546|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+
only showing top 5 rows

In [59]:
tot = tot.withColumn('avr', F.col('total')/205).select(F.col('avr'))#compute average count

In [60]:
tot.show(5)

+------------------+
|               avr|
+------------------+
|219748.01463414636|
| 186334.6487804878|
|173481.25853658537|
| 149806.7024390244|
|           35661.2|
+------------------+
only showing top 5 rows

In [62]:
#extract the terms list
terms_list = twitter_counts.columns
print(terms_list)

Index(['coronavirus', 'covid', '19', 'covid19', 'people', 'trump', 'via', 'us',
       'virus', 'amp',
       ...
       'china qingdao', 'made things', 'enfermedad inexplicable', 'rid covid',
       'city qingdao', 'dies cardiac', 'peut survivre', 'four days',
       'couvre feu', 'confirm nevada'],
      dtype='object', length=66321)

In [70]:
from pyspark.sql.types import StringType


#create a pyspark df from the terms
cols_spark = spark.createDataFrame(terms_list, StringType())

In [71]:
cols_spark.show(5)

+-----------+
|      value|
+-----------+
|coronavirus|
|      covid|
|         19|
|    covid19|
|     people|
+-----------+
only showing top 5 rows

In [81]:
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql import Window
#add an index column to the terms df
cols_spark =  cols_spark.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))

In [83]:
#add an index column to the average count df
tot =  tot.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))

In [84]:
#join the two columns and remove the index
final_df = tot.join(cols_spark, tot.row_idx == cols_spark.row_idx).drop("row_idx")

In [85]:
final_df.show(5)

+------------------+-----------+
|               avr|      value|
+------------------+-----------+
|219748.01463414636|coronavirus|
| 186334.6487804878|      covid|
|173481.25853658537|         19|
| 149806.7024390244|    covid19|
|           35661.2|     people|
+------------------+-----------+
only showing top 5 rows

In [86]:
#only select terms which have average count > 100
reduced_terms = final_df.select('value').filter(final_df.avr > 100)

In [87]:
reduced_terms.show(5)

+-----------+
|      value|
+-----------+
|coronavirus|
|      covid|
|         19|
|    covid19|
|     people|
+-----------+
only showing top 5 rows

In [88]:
#new number of terms
reduced_terms.count()

1874

In [91]:
twit_l = list(reduced_terms.toPandas()['value'])

In [92]:
twit = twitter_counts[twit_l]

In [94]:
twit.shape

(205, 1874)

In [95]:
#First attept at feature reduction from above ^, took too much computational time
#rem_cnt = 0
#cnt = 0
#twit = twitter_counts
#cols = twit.columns
#depricate columns where avrage count < 100
#for term in cols:
#    avr = twit.loc[:, term].mean()
#    cnt = cnt+1
#    print(cnt)
#    if avr < 100.0:
#        twit = twit.drop(term, axis = 1)
#        rem_cnt=rem_cnt+1
#        print(twit.shape)

In [96]:
twit.to_csv('twitter_grams_cut2.csv',index=False)

In [ ]:
twitter_counts.head(10)

In [36]:
twitter_counts.dtypes

coronavirus                                          int64
covid                                                int64
19                                                   int64
covid19                                              int64
people                                               int64
                                                     ...
28 dias                                              int64
reconfinement covid19                                int64
news outlets                                         int64
12 oct                                               int64
puebloenresistenciaantiimperialista fabiozavarsep    int64
Length: 137780, dtype: object

In [37]:
twitter_counts.astype({'covid 19': 'int64'}).dtypes

coronavirus                                          int64
covid                                                int64
19                                                   int64
covid19                                              int64
people                                               int64
                                                     ...
28 dias                                              int64
reconfinement covid19                                int64
news outlets                                         int64
12 oct                                               int64
puebloenresistenciaantiimperialista fabiozavarsep    int64
Length: 137780, dtype: object

In [40]:
twitter_counts[["covid 19"]].dtypes

covid 19    object
dtype: object

In [41]:
twitter_counts.to_csv('twitter_grams.csv',index=False)

In [ ]:
#manually placed to hdfs

In [ ]:
#Generate a Json string for schema.

In [42]:
t_cols = twitter_counts.columns.values.tolist()

In [46]:
with open('json_schema.txt', 'w', encoding="utf-8") as f:
    f.write('{\'fields\': [')
    for name in t_cols:
        f.write('{\'metadata\': {}, \'name\': \''+name+'\', \'nullable\': False, \'type\': \'long\'},')
        f.write('\n')
    f.write('],\n\'type\': \'struct\'})')

In [ ]:
#Now, processing the hospitalization data.

In [89]:
hospital_data = pd.read_csv('./covid-hospitalizations.csv')

In [90]:
hospital_data.head()

    entity iso_code        date                        indicator   value
0  Algeria      DZA  2020-07-17              Daily ICU occupancy  62.000
1  Algeria      DZA  2020-07-17  Daily ICU occupancy per million   1.381
2  Algeria      DZA  2020-07-18              Daily ICU occupancy  67.000
3  Algeria      DZA  2020-07-18  Daily ICU occupancy per million   1.492
4  Algeria      DZA  2020-07-20              Daily ICU occupancy  64.000

In [91]:
hospital_data.dtypes

entity        object
iso_code      object
date          object
indicator     object
value        float64
dtype: object

In [92]:
hospital_data =hospital_data.loc[hospital_data['date'] > '2020-03-21'] #set start date

In [93]:
hospital_data = hospital_data.loc[hospital_data['date'] < '2020-10-13'] #set end date

In [94]:
hosp_world_average = hospital_data.groupby(['indicator', 'date'], as_index=False).mean() #average the data

In [95]:
len(hosp_world_average)

1640

In [96]:
#hospital_data =hospital_data.loc[hospital_data['indicator'] == 'Daily ICU occupancy']

In [97]:
hosp_world_average['indicator'].unique()

array(['Daily ICU occupancy', 'Daily ICU occupancy per million',
       'Daily hospital occupancy', 'Daily hospital occupancy per million',
       'Weekly new ICU admissions',
       'Weekly new ICU admissions per million',
       'Weekly new hospital admissions',
       'Weekly new hospital admissions per million'], dtype=object)

In [98]:
#list the columns for targets
hosp_col_list = hosp_world_average['indicator'].unique()

In [99]:
#create a dataframe with each hospitalization unit indicator
def create_df(df, hosp_col_list_):
    list_ = df['date'].unique()
    df_new = pd.DataFrame(list_, columns=['date'])
    for item in hosp_col_list_:
        df_c = df.loc[df['indicator'] == item]
        df_c= df_c.drop('indicator', axis = 1)
        df_c = df_c.drop('date', axis = 1)
        df_c = df_c.rename({'value': item}, axis=1)
        df_new = pd.concat([df_new.reset_index(drop=True),df_c.reset_index(drop=True)], axis=1)
        
        
        
    return df_new

In [100]:
avr_hosp_data = create_df(hosp_world_average, hosp_col_list)

In [101]:
avr_hosp_data.tail()

,date,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new ICU admissions,Weekly new ICU admissions per million,Weekly new hospital admissions,Weekly new hospital admissions per million
200,2020-10-08,685.103448,13.741103,2710.678571,71.677786,456.200000,16.509400,3557.705882,80.726235
201,2020-10-09,671.566667,13.529033,2644.896552,71.012552,466.800000,17.060400,3669.000000,83.427412
202,2020-10-10,702.586207,14.305862,2872.222222,77.871000,463.600000,16.900800,3663.000000,83.082278
203,2020-10-11,687.933333,14.296467,2784.241379,81.458138,174.142857,9.175429,2330.551724,69.283000
204,2020-10-12,705.333333,14.502833,2901.103448,81.029690,471.200000,17.392400,3962.705882,92.175824

In [102]:
len(avr_hosp_data)

205

In [103]:
avr_hosp_data.to_csv('avr_hosp_data.csv',index=False) #manually uploaded to hdfs

In [ ]:
#Repeat above but for the US only

In [104]:
hospital_data_USA = hospital_data.loc[hospital_data['entity'] == 'United States']

In [106]:
hospital_data_USA=hospital_data_USA.drop(['entity', 'iso_code'], axis =1)

In [107]:
us_ind = hospital_data_USA['indicator'].unique()

In [108]:
hosp_data_USA = create_df(hospital_data_USA, us_ind)

In [109]:
hosp_data_USA  = hosp_data_USA.fillna(-1)

In [110]:
hosp_data_USA.head(200)

,date,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new hospital admissions,Weekly new hospital admissions per million
0,2020-07-15,9245.0,27.329,33760.0,99.796,30552.0,90.313
1,2020-07-16,9797.0,28.960,38539.0,113.923,31352.0,92.678
2,2020-07-17,10700.0,31.630,40062.0,118.425,31679.0,93.645
3,2020-07-18,10963.0,32.407,40376.0,119.353,31870.0,94.209
4,2020-07-19,10267.0,30.350,37897.0,112.025,32804.0,96.970
...,...,...,...,...,...,...,...
85,2020-10-08,8624.0,25.493,31015.0,91.682,-1.0,-1.000
86,2020-10-09,8723.0,25.786,31207.0,92.249,-1.0,-1.000
87,2020-10-10,8731.0,25.809,30981.0,91.581,-1.0,-1.000
88,2020-10-11,8819.0,26.069,31435.0,92.923,-1.0,-1.000
89,2020-10-12,9057.0,26.773,32780.0,96.899,-1.0,-1.000

In [114]:
hosp_data_USA.to_csv('hosp_data_USA.csv',index=False)

In [116]:
#repeat the above for England
hospital_data_Eng = hospital_data.loc[hospital_data['entity'] == 'England']
hospital_data_Eng=hospital_data_Eng.drop(['entity', 'iso_code'], axis =1)
uk_ind = hospital_data_Eng['indicator'].unique()
hosp_data_Eng = create_df(hospital_data_Eng, uk_ind)
hosp_data_Eng  = hosp_data_Eng.fillna(-1)
hosp_data_Eng.head(200)

,date,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new hospital admissions,Weekly new hospital admissions per million,Daily ICU occupancy,Daily ICU occupancy per million
0,2020-03-22,2670.0,47.215,7340.0,129.797,1494.0,26.419
1,2020-03-23,3183.0,56.286,8393.0,148.417,1788.0,31.618
2,2020-03-24,3598.0,63.625,9633.0,170.345,1950.0,34.483
3,2020-03-25,4402.0,77.843,10729.0,189.726,2097.0,37.082
4,2020-03-26,5226.0,92.414,12056.0,213.192,2264.0,40.035
...,...,...,...,...,...,...,...
195,2020-10-03,2290.0,40.495,2927.0,51.760,-1.0,-1.000
196,2020-10-04,2435.0,43.059,3090.0,54.642,-1.0,-1.000
197,2020-10-05,2705.0,47.834,3235.0,57.206,-1.0,-1.000
198,2020-10-06,2903.0,51.335,3408.0,60.265,-1.0,-1.000
199,2020-10-07,3066.0,54.218,3537.0,62.546,-1.0,-1.000

In [117]:
hosp_data_Eng.to_csv('hosp_data_Eng.csv',index=False)

In [118]:
#repeat the above for Germany
hospital_data_Ger = hospital_data.loc[hospital_data['entity'] == 'Germany']
hospital_data_Ger=hospital_data_Ger.drop(['entity', 'iso_code'], axis =1)
ger_ind = hospital_data_Ger['indicator'].unique()
hosp_data_Ger = create_df(hospital_data_Ger, ger_ind)
hosp_data_Ger  = hosp_data_Ger.fillna(-1)
hosp_data_Ger.head(200)

,date,Daily ICU occupancy,Daily ICU occupancy per million,Weekly new hospital admissions,Weekly new hospital admissions per million
0,2020-03-22,364.0,4.366,2020.0,24.229
1,2020-03-23,451.0,5.410,2236.0,26.820
2,2020-03-24,616.0,7.389,2538.0,30.443
3,2020-03-25,789.0,9.464,3003.0,36.020
4,2020-03-26,824.0,9.884,3494.0,41.910
...,...,...,...,...,...
195,2020-10-03,403.0,4.834,848.0,10.172
196,2020-10-04,424.0,5.086,881.0,10.567
197,2020-10-05,446.0,5.350,891.0,10.687
198,2020-10-06,449.0,5.386,960.0,11.515
199,2020-10-07,470.0,5.638,1068.0,12.810

In [119]:
hosp_data_Ger.to_csv('hosp_data_Ger.csv',index=False)

In [120]:
#repeat the above for Australia
hospital_data_Aus = hospital_data.loc[hospital_data['entity'] == 'Australia']
hospital_data_Aus=hospital_data_Aus.drop(['entity', 'iso_code'], axis =1)
Aus_ind = hospital_data_Aus['indicator'].unique()
hosp_data_Aus = create_df(hospital_data_Aus, Aus_ind)
hosp_data_Aus  = hosp_data_Aus.fillna(-1)
hosp_data_Aus.head(200)

,date,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million
0,2020-03-31,82.0,3.132,426.0,16.274
1,2020-04-01,86.0,3.285,441.0,16.847
2,2020-04-02,92.0,3.514,415.0,15.853
3,2020-04-03,93.0,3.553,457.0,17.458
4,2020-04-04,95.0,3.629,490.0,18.718
...,...,...,...,...,...
191,2020-10-08,4.0,0.153,28.0,1.070
192,2020-10-09,3.0,0.115,31.0,1.184
193,2020-10-10,1.0,0.038,31.0,1.184
194,2020-10-11,1.0,0.038,32.0,1.222
195,2020-10-12,1.0,0.038,31.0,1.184

In [121]:
hosp_data_Aus.to_csv('hosp_data_Aus.csv',index=False)

In [122]:
#Repeat the above for Chile
hospital_data_Chil = hospital_data.loc[hospital_data['entity'] == 'Chile']
hospital_data_Chil=hospital_data_Chil.drop(['entity', 'iso_code'], axis =1)
Chil_ind = hospital_data_Chil['indicator'].unique()
hosp_data_Chil = create_df(hospital_data_Chil, Chil_ind)
hosp_data_Chil  = hosp_data_Chil.fillna(-1)
hosp_data_Chil.head(200)

,date,Daily ICU occupancy,Daily ICU occupancy per million,Weekly new hospital admissions,Weekly new hospital admissions per million,Weekly new ICU admissions,Weekly new ICU admissions per million
0,2020-04-01,173.0,8.825,660.0,33.667,195.0,9.947
1,2020-04-02,200.0,10.202,644.0,32.851,194.0,9.896
2,2020-04-03,237.0,12.090,636.0,32.443,183.0,9.335
3,2020-04-04,280.0,14.283,603.0,30.759,168.0,8.570
4,2020-04-05,307.0,15.660,580.0,29.586,180.0,9.182
...,...,...,...,...,...,...,...
190,2020-10-08,812.0,41.421,-1.0,-1.000,-1.0,-1.000
191,2020-10-09,821.0,41.880,-1.0,-1.000,-1.0,-1.000
192,2020-10-10,817.0,41.676,-1.0,-1.000,-1.0,-1.000
193,2020-10-11,791.0,40.349,-1.0,-1.000,-1.0,-1.000
194,2020-10-12,785.0,40.043,-1.0,-1.000,-1.0,-1.000

In [123]:
hosp_data_Chil.to_csv('hosp_data_Chil.csv',index=False)

In [124]:
#repeat the above for South Africa
hospital_data_SA = hospital_data.loc[hospital_data['entity'] == 'South Africa']
hospital_data_SA=hospital_data_SA.drop(['entity', 'iso_code'], axis =1)
SA_ind = hospital_data_SA['indicator'].unique()
hosp_data_SA = create_df(hospital_data_SA, SA_ind)
hosp_data_SA  = hosp_data_SA.fillna(-1)
hosp_data_SA.head(200)

,date,Daily ICU occupancy,Daily ICU occupancy per million,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new hospital admissions,Weekly new hospital admissions per million
0,2020-03-22,0.0,0.000,96.0,1.603,269.0,4.491
1,2020-03-23,0.0,0.000,101.0,1.686,390.0,6.512
2,2020-03-24,0.0,0.000,184.0,3.072,462.0,7.714
3,2020-03-25,2.0,0.033,183.0,3.055,1081.0,18.049
4,2020-03-26,2.0,0.033,185.0,3.089,1426.0,23.809
...,...,...,...,...,...,...,...
195,2020-10-03,600.0,10.018,-1.0,-1.000,-1.0,-1.000
196,2020-10-04,600.0,10.018,-1.0,-1.000,-1.0,-1.000
197,2020-10-05,600.0,10.018,-1.0,-1.000,-1.0,-1.000
198,2020-10-06,600.0,10.018,-1.0,-1.000,-1.0,-1.000
199,2020-10-07,554.0,9.250,-1.0,-1.000,-1.0,-1.000

In [125]:
hosp_data_SA.to_csv('hosp_data_SA.csv',index=False)

In [126]:
#Repeat the above for Israel
hospital_data_Isr = hospital_data.loc[hospital_data['entity'] == 'Israel']
hospital_data_Isr=hospital_data_Isr.drop(['entity', 'iso_code'], axis =1)
Isr_ind = hospital_data_Isr['indicator'].unique()
hosp_data_Isr = create_df(hospital_data_Isr, Isr_ind)
hosp_data_Isr  = hosp_data_Isr.fillna(-1)
hosp_data_Isr.head(200)

,date,Daily hospital occupancy,Daily hospital occupancy per million,Weekly new ICU admissions,Weekly new ICU admissions per million,Weekly new hospital admissions,Weekly new hospital admissions per million,Daily ICU occupancy,Daily ICU occupancy per million
0,2020-03-22,344.0,36.406,16.0,1.693,273.0,28.892,125.0,13.229
1,2020-03-23,380.0,40.216,19.0,2.011,307.0,32.490,125.0,13.229
2,2020-03-24,424.0,44.872,21.0,2.222,340.0,35.983,118.0,12.488
3,2020-03-25,443.0,46.883,24.0,2.540,368.0,38.946,123.0,13.017
4,2020-03-26,501.0,53.021,25.0,2.646,419.0,44.343,133.0,14.076
...,...,...,...,...,...,...,...,...,...
195,2020-10-03,1835.0,194.200,127.0,13.441,1687.0,178.537,-1.0,-1.000
196,2020-10-04,1965.0,207.959,121.0,12.806,1669.0,176.632,-1.0,-1.000
197,2020-10-05,1928.0,204.043,125.0,13.229,1708.0,180.760,-1.0,-1.000
198,2020-10-06,1925.0,203.725,126.0,13.335,1644.0,173.987,-1.0,-1.000
199,2020-10-07,1868.0,197.693,130.0,13.758,1594.0,168.695,-1.0,-1.000

In [127]:
hosp_data_Isr.to_csv('hosp_data_Isr.csv',index=False)

In [128]:
#repeat the above for Japan
hospital_data_Jap = hospital_data.loc[hospital_data['entity'] == 'Japan']
hospital_data_Jap=hospital_data_Jap.drop(['entity', 'iso_code'], axis =1)
Jap_ind = hospital_data_Jap['indicator'].unique()
hosp_data_Jap = create_df(hospital_data_Jap, Jap_ind)
hosp_data_Jap  = hosp_data_Jap.fillna(-1)
hosp_data_Jap.head(200)

,date,Daily hospital occupancy,Daily hospital occupancy per million,Daily ICU occupancy,Daily ICU occupancy per million
0,2020-04-28,5514.0,44.485,341.0,2.751
1,2020-05-07,4436.0,35.788,251.0,2.025
2,2020-05-13,3423.0,27.616,184.0,1.484
3,2020-05-21,2058.0,16.603,143.0,1.154
4,2020-05-27,1369.0,11.045,101.0,0.815
5,2020-06-03,1015.0,8.189,88.0,0.710
6,2020-06-10,781.0,6.301,70.0,0.565
7,2020-06-17,587.0,4.736,58.0,0.468
8,2020-06-24,559.0,4.510,40.0,0.323
9,2020-07-01,696.0,5.615,36.0,0.290
10,2020-07-08,1039.0,8.382,41.0,0.331
11,2020-07-15,1717.0,13.852,54.0,0.436
12,2020-07-22,2744.0,22.138,92.0,0.742
13,2020-07-29,4034.0,32.545,117.0,0.944
14,2020-08-05,5116.0,41.274,192.0,1.549
15,2020-08-12,6009.0,48.479,277.0,2.235
16,2020-08-19,5973.0,48.188,333.0,2.687
17,2020-08-26,5576.0,44.985,324.0,2.614
18,2020-09-02,4994.0,40.290,315.0,2.541
19,2020-09-09,4174.0,33.674,316.0,2.549
20,2020-09-16,3754.0,30.286,310.0,2.501
21,2020-09-23,3601.0,29.052,292.0,2.356
22,2020-09-30,3249.0,26.212,296.0,2.388
23,2020-10-07,2963.0,23.904,-1.0,-1.000

In [129]:
hosp_data_Jap.to_csv('hosp_data_Jap.csv',index=False)